<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Weather widget</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="widget" style="margin: 10px; width: 300px;">
      <div id="weather" class="panel panel-info">
        <div class="panel-heading">Weather in <b><%= weatherData.cityName %><b></div>
        <ul class="list-group">
          <li class="list-group-item">Temperature: <b><%= weatherData.temperature %>°C</b></li>
          <li class="list-group-item">Humidity: <b><%= weatherData.humidity %></b></li>
          <li class="list-group-item">Wind: <b><%= weatherData.windSpeed %> m/s <%= weatherData.windDirection %></b></li>
          <li class="list-group-item">
            <form class="form-inline" method="get" action="/">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                  placeholder="City"
                />
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
